/* course-card */
main section.pre-sale-courses .course-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

main section.pre-sale-courses .course-card-item {
  width: 428px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

main section.pre-sale-courses .course-card-item:hover {
  transition: 0.1s;
  scale: 1.01;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* course-card-image */
main section.pre-sale-courses .course-card-item .course-card-image img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

main section.pre-sale-courses .course-card-item .course-card-image img:hover {
  cursor: pointer;
}

/* course-card-title */
main section.pre-sale-courses .course-card-item .course-card-title h3 {
  padding: 20px;
  font-size: 15px;
}

main section.pre-sale-courses .course-card-item .course-card-title h3:hover {
  cursor: pointer;
  color: #ff7400;
  transition: 0.3s;
}

/* course-card-teacher */
main section.pre-sale-courses .course-card-item .course-card-teacher {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 20px;
  font-family: Vazir-Medium;
  color: rgba(0, 0, 0, 0.6);
}

main section.pre-sale-courses .course-card-item .course-card-teacher i {
  font-size: 18px;
}

main section.pre-sale-courses .course-card-item .course-card-teacher span {
  font-size: 13px;
}

main section.pre-sale-courses .course-card-item .course-card-teacher span:hover {
  cursor: pointer;
  color: #ff7400;
  transition: 0.3s;
}

/* course-card-footer */
main section.pre-sale-courses .course-card-item .course-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Vazir-Medium;
  color: rgba(0, 0, 0, 0.5);
}

main section.pre-sale-courses .course-card-item .course-card-footer .students-count {
  display: flex;
  gap: 10px;
}

main section.pre-sale-courses .course-card-item .course-card-footer .students-count i {
  font-size: 18px;
}
