/* fonts */
@font-face {
  font-family: Vazir;
  src: url(../assets/fonts/Vazir.ttf);
}

@font-face {
  font-family: Vazir-Thin;
  src: url(../assets/fonts/Vazir-Thin.ttf);
}

@font-face {
  font-family: Vazir-Medium;
  src: url(../assets/fonts/Vazir-Medium.ttf);
}
