/* footer */
footer .footer-up-fluid {
  background-color: #353338;
}

footer .footer-down-fluid {
  background-color: #312f34;
}

/* footer up */
footer .footer-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 25px;
}

/* footer up right */
footer .footer-up .footer-up-right {
  color: #fff;
  font-family: Vazir-Thin, sans-serif;
  width: 100%;
}

footer .footer-up .footer-up-right .title {
  display: flex;
  gap: 10px;
}

footer .footer-up .footer-up-right .title h5 {
  font-size: 20px;
}

footer .footer-up .footer-up-right .title i {
  font-size: 35px;
  color: #ff7400;
}

.bi::before,
[class*=" bi-"]::before {
  vertical-align: 0;
}

footer .footer-up .footer-up-right p {
  font-size: 15px;
  line-height: 35px;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* footer up left */
footer .footer-up .footer-up-left {
  direction: ltr;
}

footer .footer-up .footer-up-left img {
  width: 80px;
  height: 110px;
}

/* footer down */
footer .footer-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  color: #fff;
  padding: 40px 25px;
}

footer .footer-down .footer-down-right p {
  font-family: Vazir, sans-serif;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

footer .footer-down .footer-down-left {
  display: flex;
  gap: 15px;
}

footer .footer-down .footer-down-left i {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  footer .footer-up .footer-up-right {
    width: 40%;
  }
  footer .footer-up {
    flex-direction: row;
  }
  footer .footer-down {
    flex-direction: row;
    justify-content: space-between;
  }
}
