/* Responsive Using Flexbox & Bootstrap Breakpoints */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .col-pattern-1 ---> 1 - 2 - 3 */
.col-pattern-1 {
  width: 100%;
  padding: 15px;
}

/* .col-pattern-2 ---> 1 - 2 - 4 */
.col-pattern-2 {
  width: 100%;
  padding: 15px;
}

@media screen and (min-width: 576px) {
  /* sm */
  .col-pattern-1 {
    width: 100%;
  }
  .col-pattern-2 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* md */
  .col-pattern-1 {
    width: 50%;
  }
  .col-pattern-2 {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  /* lg */
  .col-pattern-1 {
    width: 50%;
  }
  .col-pattern-2 {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  /* xl */
  .col-pattern-1 {
    width: 33.33%;
  }
  .col-pattern-2 {
    width: 25%;
  }
}

@media screen and (min-width: 1400px) {
  /* xxl */
  .col-pattern-1 {
    width: 33.33%;
  }
  .col-pattern-2 {
    width: 25%;
  }
}
