/* support-box-online-message */
.support-box-online-message {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9300;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  bottom: 35px;
  right: 35px;
}

.support-box-online-message:hover {
  cursor: pointer;
  scale: 1.1;
  transition: scale 0.5s;
}

.support-box-online-message i {
  color: #fff;
  font-size: 30px;
}
